﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="Stylesheet" href="~/Content/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/all.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/Site.js"></script>
</head>
<body>
    @Html.Hidden("AutoCompleteUrl", Url.Action("AutoComplete", "Home"))
    @Html.Hidden("SearchUrl", Url.Action("WebSearch", "Home"))
    @RenderBody()
</body>
</html>