﻿body {
}

#content {
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

.result--url-above-snippet .result__snippet {
    margin: 0;
}

.result__snippet {
    color: #494949;
    line-height: 1.45;
    margin: 0 0 0.2em;
}

.result__url, .result__url:active, .result__url:visited:focus {
    color: #20692b;
}

:visited {
    color: #6d59a3;
}

.highlight .result__extras__url, .full-urls .result__extras__url, .result--ad .result__extras__url {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.result__extras__url {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    color: #666;
}

.result--url-above-snippet .result__extras {
    min-height: 1.57em;
    margin: 1px 0 2px;
    top: 0;
}

.result__extras {
    display: flex;
    position: relative;
}

.result__a {
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    color: #00278e;
}

    .result__a:visited, .result__a:visited:hover {
        color: #6c00a2;
    }

.result__title {
    position: static;
    overflow: hidden;
    display: block;
    font-size: 1.31em;
    vertical-align: middle;
    line-height: 1.15;
    padding: 0;
    margin: 0;
    margin-bottom: 0.15em;
    max-width: 100%;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid gray;
    background: slategray;
    font-weight: normal;
    color: #ffffff;
}

#results > .row {
    margin-bottom: 0.5%;
    margin-left: 0;
    margin-right: 0;
}

.row {
    margin-right: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33.33%;
    padding: 1%;
}

.result__body.links_main.links_deep {
    width: 65%;
}

c0 {
    font-weight: bold;
}

ddd:after {
    content: "..."
}

.light-theme li.disabled > span {
    background: lightgrey;
    border-color: lightgrey;
}