﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <style>
        * {
            box-sizing: border-box;
        }

        .nav li {
            float: left;
            margin-right: 10px;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #e9e9e9;
        }

            .topnav a {
                float: left;
                display: block;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

                .topnav a.active {
                    background-color: #2196F3;
                    color: white;
                }

            .topnav .search-container {
                float: right;
            }

            .topnav input[type=text] {
                padding: 6px;
                margin-top: 8px;
                font-size: 17px;
                border: none;
            }

            .topnav .search-container button {
                float: right;
                padding: 6px 10px;
                margin-top: 8px;
                margin-right: 16px;
                background: #ddd;
                font-size: 17px;
                border: none;
                cursor: pointer;
            }

                .topnav .search-container button:hover {
                    background: #ccc;
                }

        @@media screen and (max-width: 600px) {
            .topnav .search-container {
                float: none;
            }

                .topnav a, .topnav input[type=text], .topnav .search-container button {
                    float: none;
                    display: block;
                    text-align: left;
                    width: 100%;
                    margin: 0;
                    padding: 14px;
                }

            .topnav input[type=text] {
                border: 1px solid #ccc;
            }
        }
    </style>
</head>
<body>

    <div class="topnav">
        <div class='pull-left'><img src="~/Img/arclogo.png" height="50px" /></div>
        <a class="active" href="#home">Home</a>
        <a href="#contact">Contact</a>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">

                <ul class="nav">
                    <li class="active"> <a href="#"><i class="fa fa-home fa-fw"></i> Link1</a></li>
                    <li><a href="#"><i class="fa fa-home fa-fw"></i> Link1</a></li>
                    <li><a href="#"><i class="fa fa-home fa-fw"></i> Link1</a></li>
                </ul>
                <button class="btn btn-danger navbar-btn">Button</button>
            </div>
        </nav>
        <hr />
        <h2>Search Result</h2>
        <p>Resize the browser window to see the responsive effect.</p>
        <div class="card">
            <div class="card-body">
                <a href="#">
                    <h5 class="LC20lb">emids - Healthcare IT solutions for payers, providers, and technology ...</h5>
                    <div class="TbwUpd">
                        <cite>https://www.emids.com/</cite>
                    </div>
                </a>
                <p class="card-text">
                    Emids - Healthcare IT solutions for payers, providers, and technology ...
                    https://www.emids.com/
                </p>
                <a href="#" class="btn btn-primary">Detail</a>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <a href="#">
                    <h5 class="LC20lb">emids - Healthcare IT solutions for payers, providers, and technology ...</h5>
                    <div class="TbwUpd">
                        <cite>https://www.emids.com/</cite>
                    </div>
                </a>
                <p class="card-text">
                    Emids - Healthcare IT solutions for payers, providers, and technology ...
                    https://www.emids.com/
                </p>
                <a href="#" class="btn btn-primary">Detail</a>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <a href="#">
                    <h5>emids - Healthcare IT solutions for payers, providers, and technology ...</h5>
                    <div>
                        <cite>https://www.emids.com/</cite>
                    </div>
                </a>
                <p class="card-text">
                    Emids - Healthcare IT solutions for payers, providers, and technology ...
                    https://www.emids.com/
                </p>
                <a href="#" class="btn btn-primary">Detail</a>
            </div>
        </div>
    </div>

</body>
</html>




