﻿@{
    ViewBag.Title = "Search Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="container mt-3">
    <div>
        <div class='text-center'><img src="~/Img/arclogo.png" /></div>
        <br />
        <div class="input-group">
            <input type="text" class="form-control" autocomplete="off" id="searchTextField" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-secondary" id="btn_Submit" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<style>
    html, body {
        margin: 0;
        margin-left: 15%;
        margin-right: 15%;
        padding: 0;
        width: 70%;
        height: 80%;
        display: table
    }
</style>