﻿@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<EmidsFirst.Models.SearchResult>
@{
    var totalItems = 0;
}
<script src="~/Scripts/jquery.simplePagination.js"></script>
<link rel="stylesheet" href="~/Content/simplePagination.css">

<div class="row">
    <div class="column" style="width:10%;">
        <div class="text-left">
            <a href="@Url.Action("Index","Home")">
                <img src="@Url.Content("~/Img/arclogo.png")">
            </a>
        </div>
    </div>
    <div class="column">
        <div class="input-group" style="margin-top:3%;">
            <input type="text" class="form-control ui-autocomplete-input" autocomplete="off" id="searchTextField" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-secondary" id="btn_Submit" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="results" style="margin-left:10%;">
    @if (Model != null && Model.Any())
    {
        var i = 0;
        foreach (var item in Model)
        {
            <div class='@("row result-page result-page-" + i / 10)'>
                <div class="result__body links_main links_deep">
                    <h2 class="result__title">
                        <a class="result__a" href="@item.Path" target="_blank">@item.Title</a>
                    </h2>
                    <div class="result__extras js-result-extras">
                        <div class="result__extras__url">
                            <a href="@item.Path" class="result__url js-result-extras-url" target="_blank">@item.Path</a>
                        </div>
                    </div>
                    <div class="result__snippet js-result-snippet">
                        @Html.Raw(item.HitHighlightedSummary)
                    </div>
                </div>
            </div>
            i++;
        }
        <div class="row">
            <div id="result-pagination" class="result__body links_main links_deep text-center"></div>
        </div>
        totalItems = Model.Count;
    }
</div>

<script type="text/javascript">
    $(function () {
        var text = '@Request.QueryString["searchText"]';
        if (text.length > 0)
            $("#searchTextField").val(text);
        $(".result__body a").prop("target", "_blank");
        $(".result-page").css('display', 'none');
        $(".result-page-0").css('display', 'block');
        var items = '@totalItems';
        $("#result-pagination").pagination({
            items: items,
            itemsOnPage: 10,
            cssStyle: 'light-theme',
            //prevText: "Previous",
            //nextText:"Next",
            onPageClick: function (pageNumber, event) {
                $(".result-page").css('display', 'none');
                pageNumber = pageNumber - 1;
                $(".result-page-" + pageNumber).css('display', 'block');
            }
        });
    });
</script>